<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<header>
  <h1>Photogur</h1>
  <%= link_to 'Home', root_url %>     |

  <% if current_user%>
    Hello <%= current_user.email%>  |
    <%= link_to 'Logout', sessions_path, method: :delete %>
  <% else %>
    <%= link_to 'New User', new_users_path %>    |
    <%= link_to 'Login', new_sessions_path %>
  <%end%>

</header>
<body>
  <% if flash.any?%>
  <% flash.each do |key, value|%>
  <p class ="<%= key %>">
    <%= value %>
  </p>
  <%end%>
  <%end%>


<%= yield %>

</body>
</html>
